/* Global CSS */
:root {
    --primary-color: #e50914;
    --dark-color: #141414;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-position: center;
}

/* Forgot Password Styles */
.forgot-password-container {
    max-width: 600px; 
    width: 100%;
    padding: 60px; 
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin: auto;
    text-align: center;
    color: #fff;
}

.forgot-password-container h2 {
    margin-bottom: 20px;
    color: var(--primary-color);
}

.forgot-password-container form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center-aligns form items horizontally */
}

.forgot-password-container .input-group {
    margin-bottom: 20px;
    width: 100%; /* Ensures the input group takes the full width */
    text-align: left; /* Aligns text inside input-group to the left */
}

.forgot-password-container .input-group label {
    font-size: 0.9rem;
    margin-bottom: 6px;
    display: block;
    color: #ccc;
}

.forgot-password-container .input-group input {
    padding: 12px;
    border: 1px solid #999;
    border-radius: 4px;
    font-size: 1rem;
    background-color: #333;
    color: #fff;
    width: 100%; /* Ensures the input takes the full width */
    box-sizing: border-box; /* Ensures padding does not affect width */
}

.forgot-password-container .btn-submit {
    background-color: var(--primary-color);
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 4px;
    font-size: 1.3rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    box-sizing: border-box; 
}

.forgot-password-container .btn-submit:hover {
    background-color: #ff3d5e;
}

.forgot-password-container .forgot-password-link {
    display: block;
    margin-top: 1rem;
    color:white;
    text-decoration: none;
    font-size: large;
}

.forgot-password-container .forgot-password-link:hover {
    text-decoration: underline;
}
